{% extends 'base.html' %}


{% block header %}
<header class="text-center py-5 mb-0">
  <div class="container">
    <h1 class="font-weight-light text-white">We recommend:</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <a href="/profile/user"><button type="button" class="btn btn-dark btn-lg btn-block">Profile</button></a>
    </div>
    <div class="col-3">
      <a href="/"><button type="button" class="btn btn-primary btn-lg btn-block">Reset Recommendations</button></a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<script type="text/javascript">
  var movies = {{ movies | safe }};
  var recommendation_sample_movie_1 = {{ recommendation_sample_movie_1 | safe }};
  var recommendation_sample_movie_2 = {{ recommendation_sample_movie_2 | safe }};
  var recommendation_sample_movie_3 = {{ recommendation_sample_movie_3 | safe }};
</script>

<div class="container">
  <div class="row justify-content-center">
    <h2>Because you chose {{movies[0]['movie_title']}}:</h2>
  </div>
  <div class="row justify-content-center">
    {% for movie in recommendation_sample_movie_1 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="col mb-4 mv">
      <a href="/info/{{movie_id}}" target="_blank">
        <div class="card border-0 shadow titles15" title='{{movie_title}}, with a distance of {{movie_distance}}'>
          <img src="https://movie-posters-project3.s3.us-east-2.amazonaws.com/images/{{movie_id}}.jpg" class="img-fluid"
            alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">{{movie_title}}</h5>
          </div>
        </div>
      </a>
      <div class="cs">{{movie_title}}, with a distance of {{movie_distance}}</div>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center">
    <h2>Because you chose {{movies[1]['movie_title']}}:</h2>
  </div>
  <div class="row justify-content-center">
    {% for movie in recommendation_sample_movie_2 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="col mb-4 mv">
      <a href="/info/{{movie_id}}" target="_blank">
        <div class="card border-0 shadow titles15" title='{{movie_title}}, with a distance of {{movie_distance}}'>
          <img src="https://movie-posters-project3.s3.us-east-2.amazonaws.com/images/{{movie_id}}.jpg" class="img-fluid"
            alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">{{movie_title}}</h5>
          </div>
        </div>
      </a>
      <div class="cs">{{movie_title}}, with a distance of {{movie_distance}}</div>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center">
    <h2>Because you chose {{movies[2]['movie_title']}}:</h2>
  </div>
  <div class="row justify-content-center">
    {% for movie in recommendation_sample_movie_3 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="col mb-4 mv">
      <a href="/info/{{movie_id}}" target="_blank">
        <div class="card border-0 shadow titles15" title='{{movie_title}}, with a distance of {{movie_distance}}'>
          <img src="https://movie-posters-project3.s3.us-east-2.amazonaws.com/images/{{movie_id}}.jpg" class="img-fluid"
            alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">{{movie_title}}</h5>
          </div>
        </div>
      </a>
      <div class="cs">{{movie_title}}, with a distance of {{movie_distance}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}