{% extends 'base.html' %} {% block content %}
<div class="container instructions-container">
    <div class="card border-0 shadow my-5">
        <div class="card-body">
            <div class="row justify-content-center mb-5">
                <h4 class="title text-center">
                    Machine learning for movie recommendations!
                </h4>
                <br />
                <ul class="instructions">
                    <li>
                        At the Home screen, select three of your favorite movies from the dropdown menu
                        (select a movie a second time to remove the selection).
                        Once your movies are selected, click the green "Submit" button to process your selections.
                    </li>
                    <li>
                        By default, the application will recommend movies that you are likely to enjoy.
                        Alternatively, by toggling the slider above the movie posters (on the Home screen),
                        the application will recommend movies that you are likely to dislike.
                    </li>
                    <li>
                        Upon receiving your recommendations, you can click on the movie posters to view information
                        about the movie, including the movie's title, release date, a brief synopsis, and more. This
                        feature is also available via clicking posters selected on the Home screen.
                    </li>
                    <li>
                        When viewing a movie's information, you can click the "Add to Watchlist" button to add the
                        movie to your watchlist. You must be logged in as <i>user1</i>, <i>user2</i>, <i>user3</i>,
                        <i>user4</i>, <i>user5</i>, or <i>user6</i>
                        to add movies to your watchlist. There is no password for any of these accounts as they are
                        for
                        demonstration purposes only.
                    </li>
                    <i><small>Note: Watchlist and user accounts were implemented to exercise and demonstrate
                            authentication, user sessions, and database functionality. It serves no practical
                            purpose
                            beyond that.</small></i>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}