/* .selectpicker {
  -webkit-appearance: menulist-button;
  height: 550px;
} */

#cs1,
#cs2,
#cs3,
#cs4,
#cs5,
#cs6,
#cs7,
#cs8,
#cs9,
#cs10,
#cs11,
#cs12,
#cs13,
#cs14,
#cs15 {
  visibility: hidden;
}

#mv1:hover #cs1,
#mv2:hover #cs2,
#mv3:hover #cs3,
#mv4:hover #cs4,
#mv5:hover #cs5,
#mv6:hover #cs6,
#mv7:hover #cs7,
#mv8:hover #cs8,
#mv9:hover #cs9,
#mv10:hover #cs10,
#mv11:hover #cs11,
#mv12:hover #cs12,
#mv13:hover #cs13,
#mv14:hover #cs14,
#mv15:hover #cs15 {
  visibility: visible;
  color: white;
}


/* switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgb(255, 245, 202);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0, 0, 0);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* text */

#about {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
  opacity: 0.82;
}

h4 {
  color: #FFF;
}

span {
  color: #777;
}

#flash {
  color: white;
}



/* tooltip */

#tiles15 {
  font-size: 90%;
}

/* links */

a[target]:link {
  color: #000000;
  }
  a[target]:visited {
  color: #3b3b3b;
  }
  a[target]:hover {
  color: #8b8b8b;
  }


  a:hover {
  color: #8b8b8b;
  }



/* intro */
.intro {
  width: 100%;
  padding: 70px 0px 70px 0px;
  overflow: hidden;
}

.slide, #words { position: fixed; z-index: 3; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%;}

.slide {
  background-color: rgb(255, 255, 255);
  transition: .5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
}

.slide-up, #words {
  transform: translateY(-100%);
}

#toggleSlider {

    background: transparent;
    border: none !important;
    font-size:0;
}


/* Loading screen */

div#loading {
  cursor: wait;
  width: 100px;
	height: 100px;
	
	
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
  }

/* Slot Machine Classes */

.slottt-machine-recipe {
  margin: 0px auto;
  width: 7000px;
  margin-top: 50px;
}

.slottt-machine-recipe__mask {
    width: 100%;
    height: 150px;
    overflow: hidden; 
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
}

.slottt-machine-recipe__items_container {
    position: absolute;
    
}

.slottt-machine-recipe__item {
    min-height: 150px;
    max-height: 150px;
    margin: 0px;
    padding: 0px;
    
    background-size: contain;
}

/* Typography */

body {
  font-family: Helvetica, Arial, sans serif;
}

.recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 100px;
}

@media (max-width: 320px) {
  .recipe_if, .recipe_then {
    font-weight: bold;
    font-size: 28px;
  }
}

.tagline {
  font-weight: normal;
  font-size: 24px;
}

a {
 font-weight: bold;
 text-decoration: none;
 color: rgb(255, 255, 255);
}




/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  font-family: 'Alex Brush', cursive !important;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  background-image: url("../images/bg8.gif");
  background-attachment: fixed;
  background-size: cover;
  
}

#tile1:hover,
#tile2:hover,
#tile3:hover,
#tiles15:hover {
    padding: 1%;
    border: inset;
    border-color: rgb(255, 255, 255);
}

/* Search and scroll bar */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  

  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }