{% extends 'base.html' %}

{% block header %}
<header class="text-center py-5 mb-0">
  <div class="button-container">
    <a href="/profile/user"><button type="button" class="btn btn-dark btn-lg nav-btn">Profile</button></a>
    <a href="/"><button type="button" class="btn btn-primary btn-lg nav-btn">Reset</button></a>
  </div>
</header>
{% endblock %}

{% block content %}
<script type="text/javascript">
  var movies = {{ movies | safe }};
  var recommendation_sample_movie_1 = {{ recommendation_sample_movie_1 | safe }};
  var recommendation_sample_movie_2 = {{ recommendation_sample_movie_2 | safe }};
  var recommendation_sample_movie_3 = {{ recommendation_sample_movie_3 | safe }};
</script>

<div class="best">
  <div class="container">
    <h1 class="font-weight-light text-white text-center mb-5">Positive Recommendations</h1>
  </div>
  <div class="row justify-content-center">
    <h2 class="because">Because you chose {{movies[0]['movie_title']}}:</h2>
  </div>
  <div class="results-container">
    {% for movie in recommendation_sample_movie_1 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="poster-container" title='{{movie_title}}, with a distance of {{movie_distance}}'>
      <a href="/info/{{movie_id}}" target="_blank">
        <img src="https://movie-posters-project3.s3.us-east-2.amazonaws.com/images/{{movie_id}}.jpg"
          class="poster-image" alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
        <h5 class="movie-title">{{movie_title}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center">
    <h2 class="because">Because you chose {{movies[1]['movie_title']}}:</h2>
  </div>
  <div class="results-container">
    {% for movie in recommendation_sample_movie_2 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="poster-container" title='{{movie_title}}, with a distance of {{movie_distance}}'>
      <a href="/info/{{movie_id}}" target="_blank">
        <img src="https://movie-posters-project3.s3.us-east-2.amazonaws.com/images/{{movie_id}}.jpg"
          class="poster-image" alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
        <h5 class="movie-title">{{movie_title}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center">
    <h2 class="because">Because you chose {{movies[2]['movie_title']}}:</h2>
  </div>
  <div class="results-container">
    {% for movie in recommendation_sample_movie_3 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="poster-container" title='{{movie_title}}, with a distance of {{movie_distance}}'>
      <a href="/info/{{movie_id}}" target="_blank">
        <img src="https://movie-posters-project3.s3.us-east-2.amazonaws.com/images/{{movie_id}}.jpg"
          class="poster-image" alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
        <h5 class="movie-title">{{movie_title}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}