{% extends 'base.html' %} {% block content %}
<style>
  a:link {
    color: #ffffff;
  }

  a:visited {
    color: #ffffff;
  }

  a:hover {
    color: #838383;
  }
</style>

<div class="home">
  <div class="row justify-content-center align-items-center mb-2 switch-container">
    <label class="switch">
      <input type="checkbox" id="reverse" />
      <span class="slider round"></span>
    </label>
    <label id="reverse-label" for="reverse">Basis for <strong style="color: green;">positive</strong> recommendations
      &#128525;</label>
  </div>
  <main class="content">
    <div class="posters-group">
      <div class="poster-container">
        <div class="" id="tile1">
          <a id="link1" title="Select one of your favorite movies via dropdown menu below.">
            <img id="image1" src="static/images/random1.gif" class="poster-image" alt="Image not found"
              onerror="this.onerror=null;this.src='static/images/notfound.jpg';" />
          </a>
          <h5 class="movie-title" id="movie_name1">Selection 1</h5>
        </div>
      </div>
      <div class="poster-container">
        <div class="" id="tile2">
          <a id="link2" title="Select one of your favorite movies via dropdown menu below.">
            <img id="image2" src="static/images/random2.gif" class="poster-image" alt="Image not found"
              onerror="this.onerror=null;this.src='static/images/notfound.jpg';" />
          </a>
          <h5 class="movie-title" id="movie_name2">Selection 2</h5>
        </div>
      </div>
      <div class="poster-container">
        <div class="" id="tile3">
          <a id="link3" title="Select one of your favorite movies via dropdown menu below.">
            <img id="image3" src="static/images/random3.gif" class="poster-image" alt="Image not found"
              onerror="this.onerror=null;this.src='static/images/notfound.jpg';" />
          </a>
          <h5 class="movie-title" id="movie_name3">Selection 3</h5>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row-reverse" id="button"></div>

    <div class="select-container-wrapper" style="margin-bottom: 250px">
      <div class="select-container">
        <select id="filter" class="selectpicker" data-size="6" data-live-search="true" multiple data-max-options="3"
          data-dropup-auto="false" title="Click here to choose 3 movies..." virtualScroll="50"
          data-width="100%"></select>
      </div>
    </div>
  </main>

  <div id="loading" style="display: none">
    <img src="../static/images/load3.gif" alt="" />
  </div>
</div>

<script type="text/javascript">
  var all_movies = {{ all_movies | tojson }};
</script>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<!-- Bootstrap -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- bootstrap-select -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="static/js/filter.js"></script>
{% endblock %}