{% extends 'base.html' %}

{% block header %}
<style>
  h1 {
    color: black;
  }

  h2 {
    color: black;
  }

  #fixed-background {
    background-image: url("/static/images/bg12.gif");
  }

  a {
    color: black;
  }

  .mv:hover .cs {
    visibility: visible;
    color: black;
  }
</style>

<header class="text-center py-5 mb-0">
  <div class="button-container">
    <a href="/profile/user"><button type="button" class="btn btn-dark btn-lg">Profile</button></a>
    <a href="/"><button type="button" class="btn btn-warning btn-lg">Reset</button></a>
  </div>
</header>
{% endblock %}

{% block content %}
<script type="text/javascript">
  var movies = {{ movies | safe }};
  var recommendation_sample_movie_1 = {{ recommendation_sample_movie_1 | safe }};
  var recommendation_sample_movie_2 = {{ recommendation_sample_movie_2 | safe }};
  var recommendation_sample_movie_3 = {{ recommendation_sample_movie_3 | safe }};
</script>

<div class="worst">
  <div class="container">
    <h1 class="font-weight-light text-center mb-5">Negative Recommendations</h1>
  </div>
  <div class="because-container">
    <h2 class="because">Because you chose {{movies[0]['movie_title']}}:</h2>
  </div>
  <div class="results-container">
    {% for movie in recommendation_sample_movie_1 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="poster-container" title='{{movie_title}}, with a distance of {{movie_distance}}'>
      <a href="/info/{{movie_id}}" target="_blank">
        <img src="https://d2cltuy1xv6n7i.cloudfront.net/images/{{movie_id}}.jpg"
          class="poster-image" alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
        <h5 class="movie-title">{{movie_title}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="because-container">
    <h2 class="because">Because you chose {{movies[1]['movie_title']}}:</h2>
  </div>
  <div class="results-container">
    {% for movie in recommendation_sample_movie_2 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="poster-container" title='{{movie_title}}, with a distance of {{movie_distance}}'>
      <a href="/info/{{movie_id}}" target="_blank">
        <img src="https://d2cltuy1xv6n7i.cloudfront.net/images/{{movie_id}}.jpg"
          class="poster-image" alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
        <h5 class="movie-title">{{movie_title}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="because-container">
    <h2 class="because">Because you chose {{movies[2]['movie_title']}}:</h2>
  </div>
  <div class="results-container">
    {% for movie in recommendation_sample_movie_3 %}
    {% set movie_id = movie["movie_id"] %}
    {% set movie_title = movie["movie_title"] %}
    {% set movie_distance = movie["movie_distance"] %}
    <div class="poster-container" title='{{movie_title}}, with a distance of {{movie_distance}}'>
      <a href="/info/{{movie_id}}" target="_blank">
        <img src="https://d2cltuy1xv6n7i.cloudfront.net/images/{{movie_id}}.jpg"
          class="poster-image" alt="Image not found" onerror="this.onerror=null;this.src='static/images/notfound.jpg';">
        <h5 class="movie-title">{{movie_title}}</h5>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}