{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1>About Us!</h1>
        <a href="https://github.com/dperkins2315/project_3">https://github.com/dperkins2315/project_3</a>
    </div>
    <div class="row justify-content-center">
        <div class="col mb-3">
            <h2>Adam Feldstein</h2>
        </div>
        <div class="col mb-3">
            <h2>Theodore Mooreland</h2>
        </div>
        <div class="col mb-3">
            <h2>Kami Whitehurst-Levy</h2>
        </div>
        <div class="col mb-3">
            <h2>Danielle Perkins</h2>
        </div>
    </div>
    <div class="row justified-content-center">
        <div class="col mb-3">
            <img src="https://ca.slack-edge.com/TEC5GKLKW-UF5ASEM7A-adbd3c610684-1024" height="300" width="300" />
        </div>
        <div class="col mb-3">
            <img src="https://files.slack.com/files-pri/TEC5GKLKW-FL70JGG9W/54727785_408595309951506_3730668508099379200_o.jpg"
                height="300" width="350" />
        </div>
        <div class="col mb-3">
            <img src="https://files.slack.com/files-pri/TEC5GKLKW-FLAH8ETJ9/img_8887.jpg" height="500" width="300" />
        </div>
        <div class="col mb-3">
            <img src="https://ca.slack-edge.com/TEC5GKLKW-UF5H61N9K-8b1198b30138-1024" height="300" width="300" />
        </div>
    </div>
</div>