<!DOCTYPE html>
<html lang="en" id="page">

    <head>

        <meta charset="utf-8">
        <title>Movie Match Maker</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">

        <!-- JQuery -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->

        <!-- bootstrap-select -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    </head>

    <!-- <span id="page2"></span> -->
    <header>
      {% block header %}
      <header class="text-center py-5 mb-5">
        <div class="container">
          <h1 class="font-weight-light text-white">Movie Match Maker</h1>
        </div>
      </header>
      {% endblock %}
    </header>

    <!-- <button id="toggleSlider"></button>
    <div class="container" id="intro">
      <div class="slide">
      <div class="slottt-machine-recipe">
        <div class="slottt-machine-recipe__mask" id="wordbox">
            <div class="slottt-machine-recipe__items_container recipe_if">
            </div>
        </div>
      </div>
    </div>
    </div> -->
    <body class="d-flex flex-column">
      
      <div id="page-content">
      {% block content %}
      {% endblock %}
      </div>

      {% block footer %}
      <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center text-white">
          <small>Copyright &copy; MovieMatchMaker.com</small>
        </div>
      </footer>
      {% endblock %}

       
      
    </body>

</html>