{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
    var movie_id = {{ movie_id | safe }};
    var title = {{ title | safe }};
    var overview = {{ overview | safe }};
    var crew = {{ crew | safe }};
    var cast = {{ cast | safe }};
    var genres = {{ genres | safe }};
    var language = {{ language | safe }};
    var runtime = {{ runtime | safe }};
    var budget = {{ budget | safe }};
    var revenue = {{ revenue | safe }};
  </script>

  <a class="btn btn-primary" href="/watchlist/{{movie_id}}" role="button">Add movie to watchlist</a>
  {{title}}
  {{overview}}
  {{crew}}
  {{cast}}
  {{genres}}
  {{language}}
  {{runtime}}
  {{budget}}
  {{revenue}}

{% endblock %}