{% extends 'base.html' %}

{% block content %}
    <style>
        #a {
            color: black;
        }
    </style>
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="row justify-content-center mb-5">
                    <div class="col-6">
                        <h2 id="a">Use a machine learning model for movie recommendations!</h2>
                        <br>
                        <p>* To leave this page and start the app, locate and click the words "Movie Ion" above.</p>
                        <p>* To access all features, log in using one of six preset usernames (user1, user2, user3, etc...)</p>
                        <p>* To choose the kind of recommendation (either best or worst matches), toggle the tan button above the movie posters. A black background (i.e. the default background) indicates search for best matches, a tan background indicates a search for worst matches.</p>
                        <p>* Select dropdown form located below movie posters.</p>
                        <p>* Type to search for desired movie.</p>
                        <p>* Once movie title appears in dropdown menu, click on desired movie title.</p>
                        <p>* Repeat the last three steps until three movies are selected.</p>
                        <p>* To remove a movie selection, type the movie title in search form and click title again to remove.</p>
                        <p>* Once three movies are selected, a green submit button will appear above dropdown menu.</p>
                        <p>* Find and click the green "submit" button to process your selections.</p>
                        <p>* Hover mouse over recommended movies to view their distance (hold your finger over movie if using touchscreen).</p>
                        <p>* Click on desired movie to view movie information.</p>
                        <p>* Click "add movie to watchlist" to track movie on your user profile (will need to be logged in).</p>
                        <p>* Click "Profile" to view watchlist. Click on the "x" located to the right of each movie to remove from list.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}