{% extends 'base.html' %} {% block content %}
<script type="text/javascript">
    var movie_id = {{ movie_id | safe }};
    var title = {{ title | safe }};
    var overview = {{ overview | safe }};
    var crew = {{ crew | safe }};
    var cast = {{ cast | safe }};
    var genres = {{ genres | safe }};
    var language = {{ language | safe }};
    var runtime = {{ runtime | safe }};
    var budget = {{ budget | safe }};
    var revenue = {{ revenue | safe }};
</script>

{% with messages = get_flashed_messages() %}
<div class="row justify-content-center">
    <ul>
        {% for message in messages %}
        <li id="flash">{{message}}</li>
        {% endfor %}
    </ul>
</div>
{% endwith %}

<div class="container">
    <div class="card border-0 shadow mb-5">
        <div class="card-body p-5">
            <div class="row">
                <div class="col-5 poster-sm">
                    <div class="card border-0 shadow">
                        <img src="https://d2cltuy1xv6n7i.cloudfront.net/images/{{movie_id}}.jpg"
                            class="img-fluid" alt="Image not found"
                            onerror="this.onerror=null; this.src='static/images/notfound.jpg';" />
                    </div>
                </div>
                <div class="col movie-info">
                    <h1 class="font-weight-light mb-3">{{title}}</h1>
                    <a class="btn btn-primary" href="/watchlist/{{movie_id}}" role="button">
                        Add movie to watchlist
                    </a>
                    <div class="row justify-content-center mt-3">
                        <u>Crew</u>
                    </div>
                    <div class="row justify-content-center mb-3">
                        {% for person in crew %} {{person[0]}}: ({{person[1]}}) {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <u>Cast</u>
                    </div>
                    <div class="row justify-content-center mb-3">
                        {% for actor in cast %} {{actor}} - {% endfor %}
                    </div>
                    <div class="row justify-content-center">
                        <u>Genre</u>
                    </div>
                    <div class="row justify-content-center mb-3">
                        {% for genre in genres %} {{genre}}, {% endfor %}
                    </div>
                    <div class="row">
                        Original language:&nbsp;<strong>{{language}}</strong>
                    </div>
                    <div class="row">Runtime:&nbsp;<strong>{{runtime}}</strong></div>
                    <div class="row">Budget:&nbsp;<strong>{{budget}}</strong></div>
                    <div class="row mb-3">Revenue:&nbsp;<strong>{{revenue}}</strong></div>
                    <div class="row justify-content-center">
                        <u>Summary</u>
                    </div>
                    <div class="row">{{overview}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}